.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .2s;
}

.fade-fast-enter-from, .fade-fast-leave-to {
  opacity: 0;
}


.bottom-appear-enter-active, .bottom-appear-leave-active {
  transition: all .3s;
}

.bottom-appear-enter-from, .bottom-appear-leave-to {
  opacity: 0;
  transform: translateY(110%);
}